#main-nav {
    position: fixed;
}

body{
    background-color: dimgrey;
    color: whitesmoke;
}

header, .full-width {
    width: 100%;
    background: #ccc;
    text-align: center;
    color: #714a1d
}
.wrap {
    width: 80%;
    max-width: 24em;
    margin: 0 auto;
    padding: 0.25em 0.625em;
    font-size: x-large;
    font-family: "Lucida Grande", Helvetica, sans-serif;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color:#272326 ;
    color: #714a1d;
    text-align: center;
}
